#browsefields
  .centered
    input.browsefield(type='text', name='seqid', id='seqid', value=seqid, placeholder='seqid', required='required')
  .centered
    input.browsefield(type='number', name='start', id='start', value=start, placeholder='start')
    input.browsefield(type='number', name='end', id='end', value=end, placeholder='end')
