#browsefields
  .centered
    input.browsefield(type='text', name='seqid', id='seqid', value=seqid)
  .centered
    input.browsefield(type='text', name='start', id='start', value=start)
    input.browsefield(type='text', name='end', id='end', value=end)
