link(rel='stylesheet', href='/stylesheets/browse.css')
#appnavigation
  !=partial('appnavigation')

#browse
  form(method='post', name='browse')
    !=partial('fields', { seqid: seqid, start: start, end: end })
    .centered
      input(type='button', value='Select Tracks', id='trigger_trackselector')
      input(type='submit', value='Go', id='submit')
    !=partial('trackselector', { tracks: config[dataset].tracks, checked: checked })

#landmarks
  !=partial('landmarks')

#gui
  #overviewnavigation
  #ratiozoom
  #zoomnavigation
  #separator
  #tracks
