.page
  h1 Browsing database #{dataset}

  #appnavigation
    !=partial('appnavigation')

  #browse
    form(method='post')
      !=partial('fields', { seqid: seqid, start: start, end: end })
      div
        input(type='submit', value='Go', id='submit')

  #landmarks
    !=partial('landmarks', { dataset: dataset })

  #tracks
    #{data}
