#appnavigation
  !=partial('appnavigation')

#browse
  form(method='post', name='browse')
    !=partial('fields', { seqid: seqid, start: start, end: end })
    !=partial('trackselector', { tracks: config[dataset].tracks, checked: checked })
    .centered
      input(type='submit', value='Go', id='submit')

#landmarks
  !=partial('landmarks')

#navruler
  "Navigation ruler."

#tracks
  - each track in data
    !=partial('track', { track: track })
