.page
  h1 Browsing database #{dataset}
  
  #landmarks
    !=partial('partials/browse/landmarks', {dataset: dataset})

//  form(method='post', action='/dataset/'#{dataset})
//    !=partial('browse/fields', {})
  
