!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/raphael.min.js")
    script(type="text/javascript", src="/javascripts/php.default.namespaced.min.js")
    script(type="text/javascript", src="/javascripts/client.js")
    script(type="text/javascript", src="/javascripts/rulersUI.js")
  body!= body
