!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/apprise.css')
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery-ui.min.js")
    script(type="text/javascript", src="/javascripts/apprise.js")
    script(type="text/javascript", src="/javascripts/raphael.min.js")
    script(type="text/javascript", src="/javascripts/g.raphael.min.js")
    script(type="text/javascript", src="/javascripts/g.line.min.js")
    script(type="text/javascript", src="/javascripts/php.default.namespaced.min.js")
    script(type="text/javascript", src="/javascripts/client.js")
    script(type="text/javascript", src="/javascripts/rulersUI.js")
    script(type="text/javascript", src="/javascripts/navigation.js")
    script(type="text/javascript", src="/javascripts/track.js")
    script(type="text/javascript", src="/javascripts/track-ref.js")
    script(type="text/javascript", src="/javascripts/track-profile.js")
  body!= body
