!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/apprise.css')
    script(type="text/javascript", src="/javascripts/vendor/jquery/jquery-min.js")
    script(type="text/javascript", src="/javascripts/vendor/jquery/jquery-ui-min.js")
    script(type="text/javascript", src="/javascripts/vendor/apprise.js")
    script(type="text/javascript", src="/javascripts/vendor/raphael/raphael-min.js")
    script(type="text/javascript", src="/javascripts/vendor/raphael/g.raphael-min.js")
    script(type="text/javascript", src="/javascripts/vendor/raphael/g.line-min.js")
    script(type="text/javascript", src="/javascripts/vendor/php.default.namespaced-min.js")
    script(type="text/javascript", src="/javascripts/vendor/async.js")
    script(type="text/javascript", src="/javascripts/app/client.js")
    script(type="text/javascript", src="/javascripts/app/rulersUI.js")
    script(type="text/javascript", src="/javascripts/app/navigation.js")
    script(type="text/javascript", src="/javascripts/app/glyph-base.js")
    script(type="text/javascript", src="/javascripts/app/glyph-generic.js")
    script(type="text/javascript", src="/javascripts/app/glyph-generic-oriented.js")
    script(type="text/javascript", src="/javascripts/app/track.js")
    script(type="text/javascript", src="/javascripts/app/track-ref.js")
    script(type="text/javascript", src="/javascripts/app/track-profile.js")
    script(type="text/javascript", src="/javascripts/app/track-orientedprofile.js")
  body!= body
