// colors

light = #a9a9a9
lighter = #eee
blue = #00ABFA
dark = #333

body
  width: 1200px

#gui
  text-align: center
  margin-right: auto
  margin-left: auto
  width: 1101px
  padding: 15px
  border: 1px solid light

#overviewnavigation
#ratiozoom
#zoomnavigation
#separator
.track
  text-align: center

#overviewnavigation
#zoomnavigation
  cursor: text

.ui-state-highlight
  background: lighter
  border: 1px solid light
  width: 1101px
  text-align: center
  margin-right: auto
  margin-left: auto
