@import 'nib'

// colors

light = #a9a9a9
lighter = #eee
blue = #00ABFA
dark = #333

// mixins

smooth()
  -webkit-font-smoothing: antialiased

transition()
  -webkit-transition: arguments

hide-text()
  display: block
  text-indent: -9999999px
  outline: none

replace(url, width, height = width)
  hide-text()
  background: url
  width: width
  height: height

button()
  bold-button(glow: blue)
  bshadow(rgba(0,0,0, 0.6), 0px, 0px, 5px)
  font-size: 16px
  margin: 5px

prettyfont(color)
  color: transparent
  text-shadow: color 0 0 1px

bshadow(color, hos, vos, blur)
  box-shadow: color hos vos blur
  -moz-box-shadow: color hos vos blur
  -webkit-box-shadow: color hos vos blur

centeron(width)
  width: width
  margin-right: auto
  margin-left: auto


// general

body
  margin: 30px
  centeron(600px)
  font: 16px 'helvetica neue', helvetica, arial, sans-serif
  color dark
  smooth()

a
  color blue
  text-decoration: none
  &:hover
    text-decoration: underline

.hide
  display: none

.centered
  text-align: center


label
  text-align: left
  padding: 5px 0


// forms

input[type='number']::-webkit-inner-spin-button
input[type='number']::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type='text']
input[type='number']
  margin: 5px
  padding: 5px
  outline: none
  color dark
  border-radius: 5px
  border: 1px solid lighter
  bshadow(rgba(0,0,0, 0.1), 0px, 0px, 8px)
  &:hover
    bshadow(rgba(34,34,34, 0.15), 0px, 0px, 8px)
  &:focus
    border: dark
    bshadow(rgba(0,0,0, 1), 0px, 0px, 5px)

input[type='checkbox']
  margin: 5px

button,
input[type='button'],
input[type='submit']
  button()


div.spinner
  position: absolute
  top: 10%
  left: 50%
  width: 30px
  height: 30px

div.spinner div
  width: 12%
  height: 26%
  background: #000
  position: absolute
  left: 44.5%
  top: 37%
  opacity: 0
  -webkit-animation: fade 1s linear infinite
  -webkit-border-radius: 50px
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2)

div.spinner div.bar1 
  -webkit-transform:rotate(0deg) translate(0, -142%)
  -webkit-animation-delay: 0s

div.spinner div.bar2
  -webkit-transform:rotate(30deg) translate(0, -142%)
  -webkit-animation-delay: -0.9167s

div.spinner div.bar3
  -webkit-transform:rotate(60deg) translate(0, -142%)
  -webkit-animation-delay: -0.833s

div.spinner div.bar4
  -webkit-transform:rotate(90deg) translate(0, -142%)
  -webkit-animation-delay: -0.75s

div.spinner div.bar5
  -webkit-transform:rotate(120deg) translate(0, -142%)
  -webkit-animation-delay: -0.667s

div.spinner div.bar6
  -webkit-transform:rotate(150deg) translate(0, -142%)
  -webkit-animation-delay: -0.5833s

div.spinner div.bar7
  -webkit-transform:rotate(180deg) translate(0, -142%)
  -webkit-animation-delay: -0.5s

div.spinner div.bar8
  -webkit-transform:rotate(210deg) translate(0, -142%)
  -webkit-animation-delay: -0.41667s

div.spinner div.bar9
  -webkit-transform:rotate(240deg) translate(0, -142%)
  -webkit-animation-delay: -0.333s

div.spinner div.bar10
  -webkit-transform:rotate(270deg) translate(0, -142%)
  -webkit-animation-delay: -0.25s

div.spinner div.bar11
  -webkit-transform:rotate(300deg) translate(0, -142%)
  -webkit-animation-delay: -0.1667s

div.spinner div.bar12
  -webkit-transform:rotate(330deg) translate(0, -142%)
  -webkit-animation-delay: -0.0833s

@keyframes fade
  from
    opacity: 1
  to
    opacity: 0.25
